In [ ]:
import pandas as pd
import numpy as np
headers = ['Sale','SalesAmountInEuro','time_delay_for_conversion','click_timestamp','nb_clicks_1week','product_price' ,'product_age_group' ,'device_type','audience_id' ,'product_gender' ,'product_brand' ,'product_category(1)', 'product_category(2)', 'product_category(3)', 'product_category(4)', 'product_category(5)', 'product_category(6)', 'product_category(7)', 'product_country', 'product_id' ,'product_title' ,'partner_id' ,'user_id']
df_original = pd.read_csv('D:\Projekty\Engineering_Thesis\Dataset\Criteo_Conversion_Search\CriteoSearchData.csv',
                 sep='\t',
                 nrows=10000,
                 names=headers,
                 low_memory=False,
                 usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22])
df_original.iloc[:10,:]

In [2]:
# df_original[df_original.isnull().any(axis=1)].loc[:,'product_title']

In [3]:
print(df_original.isnull().sum())
df = df_original.dropna(axis=0) # usuwanie wierszy, które zawierają null
df.isnull().sum()

Sale                          0
SalesAmountInEuro             0
time_delay_for_conversion     0
click_timestamp               0
nb_clicks_1week               0
product_price                 0
product_age_group             0
device_type                   0
audience_id                   0
product_gender                0
product_brand                 0
product_category(1)           0
product_category(2)           0
product_category(3)           0
product_category(4)           0
product_category(5)           0
product_category(6)           0
product_category(7)           0
product_country               0
product_id                    0
product_title                28
partner_id                    0
user_id                       0
dtype: int64

Sale                         0
SalesAmountInEuro            0
time_delay_for_conversion    0
click_timestamp              0
nb_clicks_1week              0
product_price                0
product_age_group            0
device_type                  0
audience_id                  0
product_gender               0
product_brand                0
product_category(1)          0
product_category(2)          0
product_category(3)          0
product_category(4)          0
product_category(5)          0
product_category(6)          0
product_category(7)          0
product_country              0
product_id                   0
product_title                0
partner_id                   0
user_id                      0
dtype: int64

In [4]:
# len(np.unique(df.iloc[:,22].values))
columns = list(df)
count_of_unique_values_in_each_row = []
for i, c in enumerate(columns):
    count = len(np.unique(df[c].values))
    print(str(i) + "\t" + str(count) +  "\t" + c  )
    count_of_unique_values_in_each_row.append(count)

0	2	Sale
1	1288	SalesAmountInEuro
2	1484	time_delay_for_conversion
3	9553	click_timestamp
4	529	nb_clicks_1week
5	982	product_price
6	9	product_age_group
7	4	device_type
8	581	audience_id
9	8	product_gender
10	986	product_brand
11	20	product_category(1)
12	116	product_category(2)
13	394	product_category(3)
14	423	product_category(4)
15	207	product_category(5)
16	30	product_category(6)
17	2	product_category(7)
18	14	product_country
19	7058	product_id
20	3776	product_title
21	94	partner_id
22	9914	user_id

In [5]:
# index_of_columns_with_lower_than_1000_unique_values = []
# excluded_indexes = [0, 1, 2, 3, 4, 5]
# for id, count in enumerate(count_of_unique_values_in_each_row):
#     if id not in excluded_indexes:
#         if count < 1000:
#             index_of_columns_with_lower_than_1000_unique_values.append(id)
# df = pd.get_dummies(df.iloc[:,index_of_columns_with_lower_than_1000_unique_values])

# df = pd.get_dummies(df.iloc[:,[6,7,9,11,12,13,14,15,16,17,18,21]])


df_copy=df
index_of_columns_to_change_to_one_hot_vectors = [6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 21]

df_only_one_hot_vectors_columns = pd.get_dummies(df.iloc[:,index_of_columns_to_change_to_one_hot_vectors])
df_common_columns = df.iloc[:,[0, 1, 2, 4, 5 ]]
df_copy = pd.concat([df_common_columns, df_only_one_hot_vectors_columns ], axis=1, sort=True)
df=df_copy
df[:10]

,Sale,SalesAmountInEuro,time_delay_for_conversion,nb_clicks_1week,product_price,product_age_group_-1,product_age_group_0CD76C7030D0900BE250C8D41703D180,product_age_group_3FEC071EF6B3D061D8804E0522FF4D2A,product_age_group_4C90FD52FC53D2C1C205844CB69575AB,product_age_group_538912C31E773613AB51FBAE58492476,...,partner_id_D3D09D0C57DD94E9160735E3B4CD2319,partner_id_D9B705BDA1B9E95DAF30BFD77EE6A162,partner_id_E3DDEB04F8AFF944B11943BB57D2F620,partner_id_E6515AA3504F444784B4DEE9D69F6EF1,partner_id_E9CA69DBC2B838810A5FCED0154B6E4A,partner_id_ED5752614DD1DE935EBFBF90C1265D9F,partner_id_EF434E16885FF4C5C47B190E5C4465CC,partner_id_EF876FE269C30DC8168D37841E01FF82,partner_id_F122B91F6D102E4630817566839A4F1F,partner_id_F69BC5EFCFAA28BA9308D3378A81DAF2
0,0,-1.00,-1,-1,0.00,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,-1.00,-1,0,0.00,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,-1.00,-1,-1,0.00,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,-1.00,-1,-1,0.00,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,-1.00,-1,-1,0.00,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,1,89.90,442485,9,49.95,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,-1.00,-1,-1,0.00,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,1,158.33,184,-1,158.33,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,0,-1.00,-1,1,0.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,-1.00,-1,234,0.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
df.to_csv("100k_rows_with_one_hot_vectors.csv", sep='\t', index=False)

In [ ]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,3:].values
y = df.iloc[:,:1].values.ravel() # tutaj powinny być chyba 3 kolumny
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print('Liczba etykiet w zbiorze y:', np.bincount(y))
print('Liczba etykiet w zbiorze y_train:', np.bincount(y_train))
print('Liczba etykiet w zbiorze y_test:', np.bincount(y_test))

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder(categories='auto')
# ohe.fit_transform(X).toarray()

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [ ]:
from sklearn.linear_model import Perceptron, LogisticRegression, SGDClassifier
import random
# ppn = Perceptron(eta0=0.1, random_state=1, n_jobs=-1)
# ppn.fit(X_train_std, y_train)

# lr = LogisticRegression(C=1000.0, random_state=1, solver="lbfgs", n_jobs=-1, verbose=1)
# lr.fit(X_train_std, y_train)


X_train_std, X_val_std, y_train, y_val = train_test_split(X_train_std, y_train, test_size=0.2, random_state=1)
lr = SGDClassifier(loss='log', verbose=0, n_jobs=-1, random_state=1)
lr.fit(X_train_std, y_train)

In [ ]:
# y_pred = ppn.predict(X_test_std)
# print('Nieprawidłowo sklasyfikowane próbki: %d' % (y_test != y_pred).sum())

y_pred = lr.predict(X_test_std)
print('Nieprawidłowo sklasyfikowane próbki: %d' % (y_test != y_pred).sum())

In [ ]:
from sklearn.metrics import accuracy_score
print('Dokładność: %.2f' % accuracy_score(y_test, y_pred))
lr.partial_fit(X_val_std, y_val)

In [ ]:
# print('Dokładność: %.2f' % ppn.score(X_test_std, y_test))
print('Dokładność: %.2f' % lr.score(X_test_std, y_test))

In [ ]:
# sqlite
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
df_original[0:0].to_sql('samples', con=engine)
engine.execute("SELECT * FROM samples LIMIT 3").fetchall()

In [ ]:
df_original[0:1].to_sql('samples', con=engine, if_exists='append')
engine.execute("SELECT * FROM samples LIMIT 3").fetchall()

In [ ]:
engine.execute("DROP TABLE SAMPLES")

In [ ]:
g = np.array([1,3,10,22,4])
f = np.array([a<10 for a in g])
g[f]

In [ ]:
3 < 5 : 'a' ? 'b'

In [ ]:
'a' if 3 > 2 else "pass"

In [ ]:
rows, columns = df.shape
rows