In [1]:
import pandas as pd
import numpy as np
headers = ['Sale','SalesAmountInEuro','time_delay_for_conversion','click_timestamp','nb_clicks_1week','product_price' ,'product_age_group' ,'device_type','audience_id' ,'product_gender' ,'product_brand' ,'product_category(1)', 'product_category(2)', 'product_category(3)', 'product_category(4)', 'product_category(5)', 'product_category(6)', 'product_category(7)', 'product_country', 'product_id' ,'product_title' ,'partner_id' ,'user_id']
df_original = pd.read_csv('D:\Projekty\Engineering_Thesis\Dataset\Criteo_Conversion_Search\CriteoSearchData-sorted.csv',
                 sep='\t',
                 nrows=10000,
                 names=headers,
                 low_memory=False,
                 usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22])
# df_original = df_original.sort(column='click_timestamp', ascending=True)
# df_original.iloc[:10,:]
lst = [df_original]

In [2]:
df_original[:5]

,Sale,SalesAmountInEuro,time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price,product_age_group,device_type,audience_id,product_gender,...,product_category(3),product_category(4),product_category(5),product_category(6),product_category(7),product_country,product_id,product_title,partner_id,user_id
0,Sale,SalesAmountInEuro,time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price,product_age_group,device_type,audience_id,product_gender,...,product_category(3),product_category(4),product_category(5),product_category(6),product_category(7),product_country,product_id,product_title,partner_id,user_id
1,0,-1.0,-1,1596439471,0,0.0,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,865A11AEC419E0B83637E01693CA6534,A5D15FC386510762EC0DDFF54ABE6F94,...,925C269ABCB1ABD1B1404E9AF9BAC32C,-1,-1,-1,-1,2AC62132FBCFA093B9426894A4BC6278,E0B8A58942AD00411F94DC480E187E64,79FB52BC086F410AFFD19B69426DF923 7FE78A2301139...,DE8AF4DB950D7A4F844B744FA402C4A8,95C3CF40CFEFD9DEF99995CD90A23D42
2,0,-1.0,-1,1596439471,320,0.0,-1,7E56C27BFF0305E788DA55A029EC4988,-1,-1,...,0279CBF3081FFB710CE52B9E0BA4AABF,35A13FB2AB63E920B7D71C5957131606,-1,-1,-1,989EEF92F2A525DD896557425EA7C4C7,F29147A240F4B1945EBAC85159AB9A56,7490FDD3B232D01748AB294BCA9854D0 25887A6625AAD...,6BFFDE668C5BC3938C875D3D0940E699,73F7922D0081EE864EABA4EFED7817EF
3,1,21.24097,965274,1596439471,0,24.99,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,-1,1B491180398E2F0390E6A588B3BCE291,...,-1,-1,-1,-1,-1,2AC62132FBCFA093B9426894A4BC6278,F73208C88398FDA9BD1522A4CA67F8B8,BA2580C036E251F1A4651A1DF94C7E3A 949A59B278D8B...,925829CF82DFDC74DE3F88F003CE7BEF,A546410581F20DC088ED664C6513ACB7
4,0,-1.0,-1,1596439472,428,0.0,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,8087F618427981D8E4086F0CC657CA99,1B491180398E2F0390E6A588B3BCE291,...,FAE775DB79B7E40FB3E581B2755783A4,-1,-1,-1,-1,989EEF92F2A525DD896557425EA7C4C7,C0FD3010A8E54E0DA78EBE451FF28128,0AD77EF609C0582FBF99A1B6AC3E87A6 F6F4CBF56EBB5...,C38B671959ACFDA46C5129405124203E,34A21E0D4EA7F2AC06F9B7310BDAC770

In [3]:
# # tworzenie nowego dataframe'u zawierającego one hot vectory
# import time
# data_as_dict = df_original.to_dict()
# del lst
# del df_original
# transformed_data_as_dict = dict.fromkeys(required_columns_list)


# transformed_data_as_dict['Sale'] = data_as_dict['Sale']
# transformed_data_as_dict['SalesAmountInEuro'] = data_as_dict['SalesAmountInEuro']
# transformed_data_as_dict['time_delay_for_conversion'] = data_as_dict['time_delay_for_conversion']
# transformed_data_as_dict['click_timestamp'] = data_as_dict['click_timestamp']
# transformed_data_as_dict['nb_clicks_1week'] = data_as_dict['nb_clicks_1week']

# start = time.time()
# for column_id, column_name in enumerate(data_as_dict):
#     if column_id > 2:
#         for cell in data_as_dict[column_name]:
#             transformed_column_name = column_name + str(cell)
#             if transformed_column_name in required_columns_list:
#                 transformed_data_as_dict[column_name + str(cell)] = '1'
    
# transformed_dataframe = pd.DataFrame.from_dict(transformed_data_as_dict)
# transformed_dataframe = transformed_dataframe.drop(transformed_dataframe.index[0])
# transformed_dataframe = transformed_dataframe.fillna(0)
# transformed_dataframe[:3]

# end = time.time()
# print(end-start)

In [4]:
# start = time.time()
# transformed_dataframe.to_csv("Dataset\hah400k.csv", sep='\t', index=False)
# end = time.time()
# print(end-start)

In [5]:
# df_original[df_original.isnull().any(axis=1)].loc[:,'product_title']

In [6]:
print(df_original.isnull().sum())
df = df_original.dropna(axis=0) # usuwanie wierszy, które zawierają null
df.isnull().sum()

Sale                          0
SalesAmountInEuro             0
time_delay_for_conversion     0
click_timestamp               0
nb_clicks_1week               0
product_price                 0
product_age_group             0
device_type                   0
audience_id                   0
product_gender                0
product_brand                 0
product_category(1)           0
product_category(2)           0
product_category(3)           0
product_category(4)           0
product_category(5)           0
product_category(6)           0
product_category(7)           0
product_country               0
product_id                    0
product_title                20
partner_id                    0
user_id                       0
dtype: int64

Sale                         0
SalesAmountInEuro            0
time_delay_for_conversion    0
click_timestamp              0
nb_clicks_1week              0
product_price                0
product_age_group            0
device_type                  0
audience_id                  0
product_gender               0
product_brand                0
product_category(1)          0
product_category(2)          0
product_category(3)          0
product_category(4)          0
product_category(5)          0
product_category(6)          0
product_category(7)          0
product_country              0
product_id                   0
product_title                0
partner_id                   0
user_id                      0
dtype: int64

In [7]:
columns = list(df)
for id, name in enumerate(columns):
    count = len(df.iloc[:,id].unique())
    print(str(id) + "\t" + str(count) +  "\t" + name  )

0	3	Sale
1	655	SalesAmountInEuro
2	694	time_delay_for_conversion
3	4839	click_timestamp
4	725	nb_clicks_1week
5	456	product_price
6	8	product_age_group
7	5	device_type
8	976	audience_id
9	10	product_gender
10	1178	product_brand
11	21	product_category(1)
12	113	product_category(2)
13	357	product_category(3)
14	376	product_category(4)
15	150	product_category(5)
16	41	product_category(6)
17	2	product_category(7)
18	12	product_country
19	4940	product_id
20	4009	product_title
21	165	partner_id
22	9528	user_id

In [8]:
# index_of_columns_with_lower_than_1000_unique_values = []
# excluded_indexes = [0, 1, 2, 3, 4, 5]
# for id, count in enumerate(count_of_unique_values_in_each_row):
#     if id not in excluded_indexes:
#         if count < 1000:
#             index_of_columns_with_lower_than_1000_unique_values.append(id)
# df = pd.get_dummies(df.iloc[:,index_of_columns_with_lower_than_1000_unique_values])

# df = pd.get_dummies(df.iloc[:,[6,7,9,11,12,13,14,15,16,17,18,21]])


df_copy=df
index_of_columns_to_change_to_one_hot_vectors = [6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 21]

df_only_one_hot_vectors_columns = pd.get_dummies(df.iloc[:,index_of_columns_to_change_to_one_hot_vectors])
df_common_columns = df_common_columns.drop(df_common_columns.index[0])
df_common_columns = df.iloc[:,[0, 1, 2, 4, 5 ]]
df_copy = pd.concat([df_common_columns, df_only_one_hot_vectors_columns ], axis=1, sort=True)
df=df_copy

NameError: name 'df_common_columns' is not defined

In [ ]:
# df.to_csv("one_hot_vectors_data_whole_file.csv", sep='\t', index=False)

In [ ]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,3:].values
y = df.iloc[:,:1].values.ravel() # tutaj powinny być chyba 3 kolumny
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print('Liczba etykiet w zbiorze y:', np.bincount(y))
print('Liczba etykiet w zbiorze y_train:', np.bincount(y_train))
print('Liczba etykiet w zbiorze y_test:', np.bincount(y_test))

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder(categories='auto')
# ohe.fit_transform(X).toarray()

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [ ]:
from sklearn.linear_model import Perceptron, LogisticRegression, SGDClassifier
import random
# ppn = Perceptron(eta0=0.1, random_state=1, n_jobs=-1)
# ppn.fit(X_train_std, y_train)

# lr = LogisticRegression(C=1000.0, random_state=1, solver="lbfgs", n_jobs=-1, verbose=1)
# lr.fit(X_train_std, y_train)


X_train_std, X_val_std, y_train, y_val = train_test_split(X_train_std, y_train, test_size=0.2, random_state=1)
lr = SGDClassifier(loss='log', verbose=0, n_jobs=-1, random_state=1)
lr.fit(X_train_std, y_train)

In [ ]:
# y_pred = ppn.predict(X_test_std)
# print('Nieprawidłowo sklasyfikowane próbki: %d' % (y_test != y_pred).sum())

y_pred = lr.predict(X_test_std)
print('Nieprawidłowo sklasyfikowane próbki: %d' % (y_test != y_pred).sum())

In [ ]:
type(X_test_std)

In [ ]:
X_test_std

In [ ]:
from sklearn.metrics import accuracy_score
print('Dokładność: %.2f' % accuracy_score(y_test, y_pred))
lr.partial_fit(X_val_std, y_val)

In [ ]:
# print('Dokładność: %.2f' % ppn.score(X_test_std, y_test))
print('Dokładność: %.2f' % lr.score(X_test_std, y_test))

In [ ]:
# sqlite
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
df_original[0:0].to_sql('samples', con=engine)
engine.execute("SELECT * FROM samples LIMIT 3").fetchall()

In [ ]:
df_original[0:1].to_sql('samples', con=engine, if_exists='append')
engine.execute("SELECT * FROM samples LIMIT 3").fetchall()

In [ ]:
engine.execute("DROP TABLE SAMPLES")

In [ ]:
g = np.array([1,3,10,22,4])
f = np.array([a<10 for a in g])
g[f]

In [ ]:
3 < 5 : 'a' ? 'b'

In [ ]:
'a' if 3 > 2 else "pass"

In [ ]:
rows, columns = df.shape
rows